# Common ##############################################################################################################
*.log
*.tmp
*.swp
*.epoch
*.lck
._*

# Mac OS X ############################################################################################################
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# IDE #################################################################################################################
# IntelliJ IDEA
*.iml
.idea/

# Springframework #####################################################################################################
**/config/
**/target/
